<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated componentModel -->
      <package
            uri="componentModel"
            class="componentModel.ComponentModelPackage"
            genModel="model/componentModel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated editor -->
      <package
            uri="assembly"
            class="assembly.AssemblyPackage"
            genModel="model/editor.genmodel"/>
   </extension>

null
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated editor -->
      <package
            uri="env"
            class="environment.EnvironmentPackage"
            genModel="model/editor.genmodel"/>
   </extension>
</plugin>
